#################### bash ####################
alias l="ls -l --color=auto"
alias ll="ls -al --color=auto"

#################### git #####################
alias gs="git st"
alias gd="git df"
alias gds="git ds"
alias gcm="git cm"
alias gcmm="git cmm"
alias gca="git ca"
alias grc="git rc"
alias gri="git ri"
alias gco="git co"
alias gcb="git cb"
alias gl="git lg"
alias gr="git reset"
alias grh="git reset HEAD"
alias grhd="git reset --hard"
alias gcc="git co -- ."
alias gaa="git aa"
alias gap="git add --patch"
alias gpf="git push --force"
alias gps="git push"
alias gpl="git pull"
alias gpd="git pull upstream develop"

git_status () {
  if [ $1 ]; then
     DIR="--git-dir=${1}/.git --work-tree=${1}"
  fi
  git $(echo $DIR) status
}

################### docker ###################
alias d="docker"
alias dps="docker ps"
alias dpsa="docker ps -a"
alias drn="docker run -dit --rm"
alias drm="docker rm"
alias dsp="docker stop"
alias dpl="docker pull"
alias dst="docker start"
alias dex="docker exec -it"
alias dim="docker images"
alias drmi="docker rmi"
alias dpr="docker container prune"

alias dc="docker-compose"
alias dm="docker-machine"

## DEV-ENV
dev_start ()
{
  docker run -dit --name ${2:-dev-env} \
    -v $HOME:$HOME \
    -u $(id -u):$(id -g) \
    "${@:3:99}" \
    ${1:-dev-env}
}

dev ()
{
  if [ $1 ]; then
    docker exec -it $1 zsh
  else
    docker exec -it dev-env zsh
  fi
}

dev_stop ()
{
  if [ $1 ]; then
    docker stop $1
  else
    docker stop dev-env
  fi
}

################### maven ###################
alias mcl="mvn clean"
alias min="mvn install"
alias mpkg="mvn package"
alias mci="mvn clean install -DskipTests"
alias mcit="mvn clean install"
alias mcp="mvn compile"
alias mts="mvn test"
#alias sonar="mvn sonar:sonar -Dsonar.host.url=http://$(dm ip):9000 -Dsonar.jdbc.url='jdbc:h2:tcp://$(dm ip)/sonar'"

spring-boot:run() {
    args=""
    if [ "$1" ]; then
      args="-Dspring.profiles.active="$(join_by , "$@")
    fi
    mvn spring-boot:run "$args"
}

################# functions #################
mkcdir ()
{
  mkdir -p -- "$1" &&
  cd -P -- "$1"
}

################# tmux #################
#alias tms="tmux source-file ~/development/config/.tmux-conf"
alias tms="tmux -f ~/development/config/.tmux-conf"
