#################### bash ####################
alias l="ls -l --color=auto"
alias ll="ls -al --color=auto"

#################### git #####################
alias gs="git st"
alias gd="git df"
alias gds="git ds"
alias gcm="git cm"
alias gcmm="git cmm"
alias gca="git ca"
alias grc="git rc"
alias gri="git ri"
alias gco="git co"
alias gcb="git cb"
alias gl="git lg"
alias gr="git reset"
alias grh="git reset HEAD"
alias grhd="git reset --hard"
alias gcc="git co -- ."
alias gaa="git aa"
alias gap="git add --patch"
alias gpf="git push --force"
alias gps="git push"
alias gpl="git pull"
alias gpd="git pull upstream develop"

git_status () {
  if [ $1 ]; then
     DIR="--git-dir=${1}/.git --work-tree=${1}"
  fi
  git $(echo $DIR) status
}

################### docker ###################
alias d="docker"
alias dps="docker ps"
alias dpsa="docker ps -a"
alias drn="docker run -dit --rm"
alias drm="docker rm"
alias dsp="docker stop"
alias dpl="docker pull"
alias dst="docker start"
alias dex="docker exec -it"
alias dim="docker images"
alias drmi="docker rmi"
alias dpr="docker container prune"

alias dc="docker compose"
alias dcu="dc up -d"
alias dcd="dc down"

################# functions #################
mkcdir ()
{
  mkdir -p -- "$1" &&
  cd -P -- "$1"
}

################# tmux #################
#alias tms="tmux source-file ~/development/config/.tmux-conf"
alias tms="tmux -f ~/development/config/.tmux-conf"
