[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "nvim/.vim/vim-plug"]
	path = nvim/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/powerline-fonts"]
	path = zsh/powerline-fonts
	url = https://github.com/powerline/fonts.git
